extends layout/layout.pug

block meta
  - var utm = Data.meta._utmClub

block phraseAccroche
  | Phytosanitaires : commandez aujourd'hui, soyez livré au plus tard dans 72h
block clubInfo  
  tr 
    td.club__info--wrapper(align='center')
      | NEWSLETTER 
      b.club__info--wrapper-number n°13
  tr
    td.club__info--date(align='center') 29/03/2018 
  tr 
   td.club__info--blank   

block promo
  include mixins/promoClub.pug
  include mixins/banner.pug

  +promoClub('soufre-thiosulfate-d-ammonium/p265452',
   "<tr><td>&nbsp;</td></tr><tr><td align='center' style='border-collapse: collapse; font-size: 20px; line-height: 24px; font-weight: bold;'class='club__promo_description--title'>Groupama, acteur historique de la prévention au côté des agriculteurs</td></tr><tr><td style='border-collapse: collapse; line-height: 10px; font-size: 10px;'>&nbsp;</td></tr><tr><td align='center' style='border-collapse: collapse;  font-size: 14px; line-height: 16px;'>Tracteurs neufs ou anciens, matériels attelés de dernière génération ou tous autres matériels agricoles : tous sont indispensables au bon fonctionnement de votre exploitation agricole et représentent des investissements lourds. Ils se doivent d’être bien protégés et en toutes circonstances. Cette protection s’étend aux utilisateur de vos engins agricoles pendant la conduite et la manipulation.</td></tr><tr><td style='border-collapse: collapse; line-height: 10px; font-size: 10px;'>&nbsp;</td></tr> <tr><td style='border-collapse: collapse;'>&nbsp;</td></tr>" , "https://www.agriconomie.com/media/pub/img/newsletter/club/S11-2018_crea_azote-soufre.jpg", "soufre thiosulfate d'ammonium", "Voir le produit")