extends layout/layout.pug 

block data
  - var meta =  Data.meta._utmWeekend;     
  - var lang = 'fr';  
  
block style  
  link(rel='stylesheet', href='css/style.css')

 
block preheader  
  include ./mixins/preheader.pug
  +preheader('agrico', "Le vent souffle ce Weekend")
  //- style(type='text/css').
  //-   .mobile--show {
  //-   display: none!important;
  //-   }
  //-   .mobile--hide {
  //-   display: block!important;
  //-   }
  //-   @media only screen and (max-width: 480px) {
  //-   body {
  //-   font-size: 16px !important;
  //-   }
  //-   .logo__white,
  //-   .products__between,
  //-   .mobile--hide {
  //-   display: none!important;
  //-   }
  //-   .menu,  .mobile--show {
  //-   display: block!important;
  //-   }
  //-   .menu tr,
  //-   .menu td,
  //-   .menu tbody {
  //-   display: block;
  //-   }
  //-   .menu__links {
  //-   height: 25px!important;
  //-   }
  //-   .menu__link {
  //-   display: block;
  //-   float: left;
  //-   width: 25%;
  //-   height: 30px!important;
  //-   }
  //-   .menu__link--a {
  //-   display: block;
  //-   font-size: 12px;
  //-   line-height: 30px!important;
  //-   height: 30px!important;
  //-   }
  //-   .menu__border {
  //-   font-size: 2.5px!important;
  //-   height: 2.5px!important;
  //-   line-height: 2.5px!important;
  //-   }
  //-   #bodyTable {
  //-   width: 100%!important;
  //-   }
  //-   .products__unit {
  //-   float: left;
  //-   width: 48%;
  //-   margin-left: 1%;
  //-   margin-right: 1%;
  //-   margin-top: 5px;
  //-   margin-bottom: 5px;
  //-   }
  //-   .products__unit--big,.produit__unit--quote {
  //-   float: none;
  //-   display: block;
  //-   width: 80%!important;
  //-   margin-left: auto;
  //-   margin-right: auto;
  //-   margin-bottom: 15px;
  //-   }
  //-   .products__unit--double {
  //-   /*container margin-left-right: 1%*/
  //-   width: 98%;
  //-   display: block;
  //-   }
  //-   .title--line {
  //-   width: 5%;
  //-   }
  //-   .title--txt {
  //-   width: 90%;
  //-   }
  //-   .tableReassurances__body {
  //-   position: relative;
  //-   }
  //-   .tableReassurances__body td {
  //-   float: left;
  //-   width: 50%;
  //-   display: block;
  //-   }
  //-   .tableReassurances__body td img {
  //-   height: 50px!important;
  //-   width: auto;
  //-   text-align: left;
  //-   display: inline-block;
  //-   }
  //-   .footer__wrapper {
  //-   position: relative;
  //-   width: 80%;
  //-   }
  //-   .footer__wrapper td {
  //-   width: 100%;
  //-   display: block;
  //-   text-align: center;
  //-   }
  //-   .footer__wrapper img {
  //-   margin: 0 auto;
  //-   }
  //-   .footer__rss {
  //-   position: relative;
  //-   margin-top: 20px;
  //-   }
  //-   .footer__rss td {
  //-   float: left;
  //-   width: 25%;
  //-   display: block;
  //-   }
  //-   .footer__rss img {
  //-   height: 30px!important;
  //-   width: auto;
  //-   }
  //-   .bigOffert__col{
  //-   display:block;
  //-   width:100%;
  //-   }
  //-   .quote__semence {
  //-   display: block;
  //-   width: 100%!important;
  //-   max-width: 100%!important;
  //-   text-align: left;
  //-   }
  //-   .quote__semence {
  //-   margin: 5px auto;
  //-   }
  //-   .blogPush__container--article, .blogPush__container--article table, .blogPush__container--article table tbody,.blogPush__container--article table tbody tr{
  //-   display:block;
  //-   width: 100%;
  //-   }
  //-   .blogPush__container--article-img img, .blogPush__container--article-img{
  //-   display:block;
  //-   width: 100%;
  //-   }
  //-   .quote__semence td {
  //-   width: 90%!important;
  //-   margin: 0 auto;
  //-   display: block;
  //-   }
  //-   }
  //-   .footer__col td {
  //-   font-size: 12px!important;
  //-   }


 
   
block content    
  include ./mixins/title--simple.pug
  include ./mixins/title.pug      
  include ./mixins/produit_3.pug
  include ./mixins/service_3.pug  
  include ./mixins/produit_2.pug
  include ./mixins/produit_3__buse.pug 
  include ./mixins/produit_3__prix.pug
  include ./mixins/produit_4.pug  
  include ./mixins/banner.pug 
  include ./mixins/bannerNext.pug 
  include ./mixins/btn.pug     
  include ./mixins/quote.pug
  include ./mixins/produit_3__btnOnly.pug      
  include ./mixins/produit_3__dechaumeur.pug
  include ./mixins/produit_3__details.pug
  include ./mixins/produit__quote.pug
  include ./mixins/link.pug


  //- +banner(
  //-    "pieces-agricoles/tracteur/cabine/vitre/pc5841",
  //-     "https://www.agriconomie.com/media/pub/img/newsletter/banners/S30-2018-vitre.jpg",
  //-     "Bon d'achat de 50€ activer le bon !!!"
  //-  )
  //- tr
  //-   td &nbsp;



  //- +produit__3([
  //-   {'name': "Disque de<br> déchaumeur <br> &nbsp;",
  //-  'promo__title': "none", 
  //-   'promo__value': '-20%' ,
  //-    'link' : 'pieces-agricoles/travail-du-sol/dechaumeur---cultivateur/disque/pc5682',
  //-     'alt' : "Disque de déchaumeur",
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130/57/69/4bf70f03417beae99b9850d9afc5.jpg', 
  //-     'btn' : "Voir les produits",
  //-    'cara' : '- Pressol <br> - 450 L <br> - 60 L/min <br> - capot verrouillage',
  //-         'price': {
  //-    'old': { "entier" : "1", "dec" : "51"},  
  //-    'new': { "entier" : "1", "dec" : "30"}
  //-    }
  //-      },



 
  //-        {'name': "Soc pour cultivateur<br> et déchaumeur <br/> &nbsp;", 
  //-  'promo__title': "none",
  //-   'promo__value': '5 filtres achetés le 6ème offert' ,
  //-    'link' : 'pieces-agricoles/travail-du-sol/dechaumeur---cultivateur/soc/pc5676',
  //-     'alt' : "Soc pour cultivateur et déchaumeur",
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130/51/b5/d420646c814bb4ee8d202c159cc1.jpg',  
  //-     'btn' : "Voir les produits",
  //-    'cara' : '- Kingspan <br> - 430 L <br> - 50 L/min <br> - capot verrouillage',
  //-         'price': {
  //-    'old': { "entier" : "1", "dec" : "85"}, 
  //-    'new': { "entier" : "1", "dec" : "59"}
  //-    }
  //-      }, 

  //-        {'name': "Mélange Bio luzerne <br> longue durée <br> &nbsp;",
  //-  'promo__title': "none",
  //-   'promo__value': '-14%' ,
  //-    'link' : 'melange-bio-luzerne-longue-duree-tech-vert/p320910',
  //-     'alt' : 'Mélange Bio luzerne longue durée - Tech vert',
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130//96/04/fa73004a2194ee67dc139b7b4d31.jpeg', 
  //-    'btn' : "Voir les prix",
  //-    'cara' : '- Duraplas <br> - 400 L <br> - 40 L/min <br> - sans capot' ,
  //-    'price': { 
  //-    'old': { "entier" : "1", "dec" : "23"},
  //-    'new': { "entier" : "1", "dec" : "06"}
  //-    }
  //-    }
 




  //- ])
  //- tr
  //-   td &nbsp;
  //- +produit__3([
 


  //- {'name': "Big Bag <br> agricole<br> &nbsp;",
  //-  'promo__title': "none", 
  //-   'promo__value': '-14%' ,
  //-    'link' : 'atelier/stockage-des-recoltes-et-de-l-aliment/sacherie--and--big-bag/pc6618',
  //-     'alt' : "Big Bag agricole, stockage récoltes et semences",
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130/58987dca24256.jpg', 
  //-     'btn' : "Voir les produits",
  //-    'cara' : '- Duraplas <br> - 400 L <br> - 40 L/min <br> - sans capot' ,
  //-    'price': { 
  //-    'old': { "entier" : "1", "dec" : "23"},
  //-    'new': { "entier" : "1", "dec" : "06"}
  //-    }
  //-    },

  //-   {'name': "Ventilateur POLYCOOL FBW8 <br> pour cheminée de stockage <br> &nbsp;",
  //-  'promo__title': "none",
  //-   'promo__value': '-20%' ,
  //-    'link' : 'ventilateur-polycool-pour-chemine-de-stockage/p294616#_campaign=cat_resultat_produit',
  //-     'alt' : "Ventilateur POLYCOOL FBW8 pour cheminée de stockage",
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130/cf/fd/76d335547a43d1689dd05e6b840a.jpeg', 
  //-    'btn' : "Voir le produit",
  //-    'cara' : '- Pressol <br> - 450 L <br> - 60 L/min <br> - capot verrouillage',
  //-         'price': {
  //-    'old': { "entier" : "1", "dec" : "51"},  
  //-    'new': { "entier" : "1", "dec" : "30"}
  //-    }
  //-      },



  //-        {'name': "Gamme de<br> pulvérisateur <br/> &nbsp;", 
  //-  'promo__title': "none",
  //-   'promo__value': '5 filtres achetés le 6ème offert' ,
  //-    'link' : 'atelier/hygiene-et-nettoyage/pulverisateur/pc5392',
  //-     'alt' : "Pulvérisateur",
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130/c8/54/da1e03ac41a42587e8c24902a87b.jpeg',  
  //-    'btn' : "Voir les produits",
  //-    'cara' : '- Kingspan <br> - 430 L <br> - 50 L/min <br> - capot verrouillage',
  //-         'price': {
  //-    'old': { "entier" : "1", "dec" : "85"},
  //-    'new': { "entier" : "1", "dec" : "59"}
  //-    }
  //-      }


  //- ])
  tr
    td &nbsp;
  +banner(
     "promotion/pieces-agricoles/pieces-en-livraison-rapide/pc7654",
      "https://www.agriconomie.com/media/pub/img/newsletter/banners/s29-2018-moissonneuse-mailbanner.jpg",
      "notre sélection de pièces de moissonneuse livrées chez vous en 24 heures j'en profite"
   )
  tr
    td &nbsp;
  +title("Nos meilleurs offres du moment")

  +produit__3([
    {'name': "Casquette de protection <br> ventilée POWER CAP <br> &nbsp;",
   'promo__title': "none",
    'promo__value': '-20%' ,
     'link' : 'casquette-de-protection-ventilee-power-cap-r-epi/p186638',
      'alt' : "Casquette de protection ventilée POWER CAP",
      'img' : 'https://www.agriconomie.com/media/cache/130x130//20/2d/fefa51edb3bc3fc5ac0f67a9719b.jpeg', 
     'btn' : "Voir le produit",
     'cara' : '- Pressol <br> - 450 L <br> - 60 L/min <br> - capot verrouillage',
          'price': {
     'old': { "entier" : "1", "dec" : "51"},  
     'new': { "entier" : "1", "dec" : "30"}
     }
       },


         {'name': "Sonde de température<br> digitale WILE <br/> &nbsp;", 
   'promo__title': "none",
    'promo__value': '5 filtres achetés le 6ème offert' ,
     'link' : 'sonde-de-temperature-digitale-wile/p254342#_campaign=cat_listing_produit',
      'alt' : "Sonde de température digitale WILE",
      'img' : 'https://www.agriconomie.com/media/cache/130x130/c9/27/f01f50fb7902fe909c67d86e27af.jpeg',  
     'btn' : "Voir le produit",
     'cara' : '- Kingspan <br> - 430 L <br> - 50 L/min <br> - capot verrouillage',
          'price': {
     'old': { "entier" : "1", "dec" : "85"},
     'new': { "entier" : "1", "dec" : "59"}
     }
       }, 

  {'name': "Kit caméra de recul tracteur <br> avec écran 7 & 1 caméra <br> &nbsp;",
   'promo__title': "PROMO",
    'promo__value': '-20%' ,
     'link' : 'kit-camera-de-recul-avec-ecran-7-et-1-camera/p282916',
      'alt' : "Kit caméra de recul tracteur avec écran 7'' & 1 caméra",
      'img' : 'https://www.agriconomie.com/media/cache/240x230//4e/61/2e1841fbc8a0bf6179b50d60c3d3.jpeg', 
     'btn' : "Voir le produit",
     'cara' : '- Duraplas <br> - 400 L <br> - 40 L/min <br> - sans capot' ,
     'price': { 
     'old': { "entier" : "1", "dec" : "23"},
     'new': { "entier" : "1", "dec" : "06"}
     }
     }
 

  ])
  tr
    td  
  tr
    td  
  tr
    td(width='100%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
      table.title(align='center', width='100%', style='border-collapse: collapse; color: #4a5669; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
        tr
          td.title--line(width='5%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
            p(style='background-color: #ffc70c; display: block; font-size: 5px; height: 5px; line-height: 5px; margin: 0; margin-bottom: 0;')  
          td(style='border-collapse: collapse; mso-line-height-rule: exactly;')
            table.title--imgTxt-container(align='center', width='90%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
              tr
                td.title--imgTxt-child(align='center', style='border-collapse: collapse; font-size: 18px; font-weight: bold; mso-line-height-rule: exactly;') Nos derniers dossiers techniques
                td.title--imgTxt-child(align='center', style='border-collapse: collapse; mso-line-height-rule: exactly;')  
                td.title--imgTxt-child(align='center', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                  img(height='34', width='200', src='https://www.agriconomie.com/media/pub/img/newsletter/banners/agriconotes_news2.png', border='0', style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; line-height: 100%; max-width: 100%; outline: none; text-decoration: none; width: auto;', alt='Agriconotes')
          td.title--line(width='5%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
            p(style='background-color: #ffc70c; display: block; font-size: 5px; height: 5px; line-height: 5px; margin: 0; margin-bottom: 0;')  
  tr
    td  
  tr
    td(style='border-collapse: collapse; mso-line-height-rule: exactly;')
      table.blogPush__container(align='center', width='95%', style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
        tr
          td.blogPush__container--article(width='45%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
            a(href!='http://blog.agriconomie.com/camera-de-surveillance-gain-assurance-comment-ca-marche/'+ meta, style='text-decoration: none;')
              table(style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                tr
                  td.blogPush__container--article-img(align='left', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/banners/s30-2018-camera-blog.jpg', width='100%', height='183', border='0', style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; line-height: 100%; outline: none; text-decoration: none; width: 100%;', alt='Caméra de surveillance : Gain – assurance ? Comment ça marche ?')
                tr
                  td(align='left', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                    table(style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                      tr
                        td(width='37', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                          img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/arrow.png', width='50', border='0', style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; line-height: 100%; max-width: 100%; outline: none; text-decoration: none; width: auto;', alt='test')
                        td(style='border-collapse: collapse; mso-line-height-rule: exactly;')  
                        td(align='left', style='border-collapse: collapse; color: black; font-weight: bold; mso-line-height-rule: exactly; text-decoration: none;') Caméra de surveillance : Gain – assurance ? Comment ça marche ?
          td.blogPush__container--article(width='1%', style='border-collapse: collapse; mso-line-height-rule: exactly;')  
          td.blogPush__container--article(width='48%', style='border-collapse: collapse; mso-line-height-rule: exactly;')
            a(href!='http://blog.agriconomie.com/ferobide-economiser-couts-piece-usure' + meta, style='text-decoration: none;')
              table(style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                tr
                  td.blogPush__container--article-img(align='left', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/banners/ferobide-3_news.png', width='100%', height='183', border='0', style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; line-height: 100%; outline: none; text-decoration: none; width: 100%;', alt='Ferobide : Economiser vos coûts en pièce d’usure')
                tr
                  td(align='left', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                    table(style='border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                      tr
                        td(width='37', style='border-collapse: collapse; mso-line-height-rule: exactly;')
                          img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/arrow.png', width='50', border='0', style='-ms-interpolation-mode: bicubic; border: 0 none; display: block; line-height: 100%; max-width: 100%; outline: none; text-decoration: none; width: auto;', alt='test')
                        td(style='border-collapse: collapse; mso-line-height-rule: exactly;')  
                        td(align='left', style='border-collapse: collapse; color: black; font-weight: bold; mso-line-height-rule: exactly; text-decoration: none;') Ferobide : Economiser vos coûts en pièce d’usure
  tr
    td  




block footer__expert
  include ./mixins/footer__expert.pug 
  +footer__expert('arthur')


block sources 
  include ./mixins/sources.pug 
  +sources('agrico') 