extends layout/layout.pug 

block data
  - var meta =  Data.meta._utmVF;    
  - var lang = 'fr';  
  
block style 
  link(rel='stylesheet', href='css/style.css')
  style(type='text/css').
    @media only screen and (max-width: 480px) { 
    body { 
    font-size: 16px !important;
    }   
    .logo__white,
    .products__between,
    .mobile--hide { 
    display: none!important; 
    } 
    .menu {
    display: block;
    }
    .menu tr,
    .menu td,
    .menu tbody {
    display: block;
    }
    .menu__links {
    height: 25px!important;
    }
    .menu__link {
    display: block;
    float: left;
    width: 25%;
    height: 30px!important;
    }
    .menu__link--a {
    display: block;
    font-size: 12px;
    line-height: 30px!important;
    height: 30px!important;
    }
    .menu__border {
    font-size: 2.5px!important;
    height: 2.5px!important;
    line-height: 2.5px!important;
    }
    #bodyTable {
    width: 100%!important;
    }
    .products__unit {
    float: left; 
    width: 48%; 
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .products__unit--big,.produit__unit--quote {
    float: none;
    display: block;
    width: 80%!important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    }
    .products__unit--double {
    /*container margin-left-right: 1%*/
    width: 98%;
    display: block;
    }
    .title--line {
    width: 5%;
    }
    .title--txt {
    width: 90%;
    }
    .tableReassurances__body {
    position: relative;
    }
    .tableReassurances__body td {
    float: left;
    width: 50%;
    display: block;
    }
    .tableReassurances__body td img {
    height: 50px!important;
    width: auto;
    text-align: left;
    display: inline-block;
    }
    .footer__wrapper {
    position: relative;
    width: 80%;
    }
    .footer__wrapper td {
    width: 100%;
    display: block;
    text-align: center;  
    }
    .footer__wrapper img { 
    margin: 0 auto;
    } 
    .footer__rss {
    position: relative;
    margin-top: 20px;
    } 
    .footer__rss td {
    float: left;  
    width: 25%;
    display: block;
    }
    .footer__rss img {
    height: 30px!important;  
    width: auto;  
    }
    .bigOffert__col{
    display:block;
    width:100%;
    }
    .quote__semence {
    display: block;
    width: 100%!important;
    max-width: 100%!important;
    text-align: left;
    }
    .quote__semence {
        margin: 5px auto; 
    }

    .quote__semence td {
        width: 90%!important;
        margin: 0 auto;
        display: block;
    }
    }
    .footer__col td { 
        font-size: 12px!important;
    }

  != "<!--[if gte mso 10]>"
  style.
    table, p, span, div, table, tr, td, th, a { 
    mso-style-priority:99;  font-family:"Arial","sans-serif"; 
    }
  != "<![endif]-->" 
block preheader  
  include ./mixins/preheader.pug
  +preheader('agrico', "Le vent souffle ce Weekend")
 
   
block content    
  include ./mixins/title--simple.pug
  include ./mixins/title.pug      
  include ./mixins/produit_3.pug
  include ./mixins/service_3.pug  
  include ./mixins/produit_2.pug
  include ./mixins/produit_3__buse.pug 
  include ./mixins/produit_3__prix.pug
  include ./mixins/produit_4.pug  
  include ./mixins/banner.pug 
  include ./mixins/bannerNext.pug 
  include ./mixins/btn.pug     
  include ./mixins/quote.pug
  include ./mixins/produit_3__btnOnly.pug      
  include ./mixins/produit_3__dechaumeur.pug
  include ./mixins/produit_3__details.pug
  include ./mixins/produit__quote.pug
  include ./mixins/link.pug


  +banner(
     "voucher/AMENDEMENTS50?redirect=/engrais/amendements/pc976&reset=1",
      "https://www.agriconomie.com/media/pub/img/newsletter/club/s09_2017/bon-achat-50.jpg",
      "Bon d'achat de 50€ activer le bon !!!"
   )

  tr
    td &nbsp;
  +title("Besoin d'une pièce en urgence <br> Nous avons ce qu'il vous faut")
  tr
    td &nbsp;
    
  +produit__3([
   {'name': "Chaîne<br> &nbsp; <br> &nbsp;",
    'promo__title': "none",
     'promo__value': '-10%' ,
      'link' : 'pieces-agricoles/pieces-en-livraison-rapide/pc7654/chaine-s366',
       'alt' : 'Chaîne',
       'img' : 'https://www.agriconomie.com/media/cache/130x130//64/6a/ff5257fc78f7d70bc42a8d68fbc3.jpeg', 
      'btn' : "Voir les produits",
      'cara' : '- Duraplas <br> - 400 L <br> - 40 L/min <br> - sans capot' ,
      'price': { 
      'old': { "entier" : "1", "dec" : "23"},
      'new': { "entier" : "1", "dec" : "06"}
      }
      }, 

   {'name': "Contre batteur<br>&nbsp; <br/> &nbsp;", 
    'promo__title': "none",
     'promo__value': '-14%' ,
      'link' : 'pieces-agricoles/pieces-en-livraison-rapide/pc7654/contre-batteur-s7706',
       'alt' : "Contre batteur",
       'img' : 'https://www.agriconomie.com/media/cache/130x130/d6/a2/013a86c66cc24e61bf201cf5cd5d.jpg',  
      'btn' : "Voir les produits",
      'cara' : '- Kingspan <br> - 430 L <br> - 50 L/min <br> - capot verrouillage',
           'price': {
      'old': { "entier" : "1", "dec" : "85"},
      'new': { "entier" : "1", "dec" : "59"}
      } 
        }, 

   {'name': "Courroie <br> &nbsp; <br> &nbsp;",
    'promo__title': "none",
     'promo__value': '-14%' ,
      'link' : 'pieces-agricoles/pieces-en-livraison-rapide/pc7654/courroie-s514',
       'alt' : 'Courroie',
       'img' : 'https://www.agriconomie.com/media/cache/130x130/64/c5/9fef9aeb60fb822881400a1f456a.jpg', 
      'btn' : "Voir les produits",
      'cara' : '- Duraplas <br> - 400 L <br> - 40 L/min <br> - sans capot' ,
      'price': { 
      'old': { "entier" : "1", "dec" : "23"},
      'new': { "entier" : "1", "dec" : "06"}
      } 
      }
 

   ])

  tr
    td &nbsp;
  +title("Les produits du moment")


  tr
    td &nbsp;
    
  +produit__3([
   {'name': "Pignon  <br> &nbsp; <br> &nbsp;",
    'promo__title': "none",
     'promo__value': '-10%' ,
      'link' : 'pieces-agricoles/pieces-en-livraison-rapide/pc7654/pignon-s1172',
       'alt' : 'Pignon',
       'img' : 'https://www.agriconomie.com/media/cache/130x130/f9/75/e4469144daf1e3138c690981c416.jpg', 
      'btn' : "Voir les produits",
      'cara' : '- Duraplas <br> - 400 L <br> - 40 L/min <br> - sans capot' ,
      'price': { 
      'old': { "entier" : "1", "dec" : "23"},
      'new': { "entier" : "1", "dec" : "06"}
      }
      }, 

   {'name': "Section <br> &nbsp; <br/> &nbsp;", 
    'promo__title': "none",
     'promo__value': '-14%' ,
      'link' : 'pieces-agricoles/pieces-en-livraison-rapide/pc7654/section-s1510',
       'alt' : "Section",
       'img' : 'https://www.agriconomie.com/media/cache/130x130/71/ec/39ce974a8ec3d621796e59352ad7.jpg',  
      'btn' : "Voir les produits",
      'cara' : '- Kingspan <br> - 430 L <br> - 50 L/min <br> - capot verrouillage',
           'price': {
      'old': { "entier" : "1", "dec" : "85"},
      'new': { "entier" : "1", "dec" : "59"}
      }
        }, 

   {'name': "Pièces en <br> livraison rapide <br> &nbsp;",
    'promo__title': "none",
     'promo__value': '-14%' ,
      'link' : 'pieces-agricoles/pieces-en-livraison-rapide/pc7654',
       'alt' : 'Pièces en livraison rapide',
       'img' : 'https://www.agriconomie.com/media/cache/130x130//4b/92/923b24647af7b8961ddbeee70f93.jpeg', 
      'btn' : "Voir les produits",
      'cara' : '- Duraplas <br> - 400 L <br> - 40 L/min <br> - sans capot' ,
      'price': { 
      'old': { "entier" : "1", "dec" : "23"},
      'new': { "entier" : "1", "dec" : "06"}
      }
      } 
 

   ])
  tr
    td &nbsp;
  +title("Nos services dédiés")

  +service__3([
   {'title': "CLub by Agrico",
   'txt': "  Devenez membre d'une <strong>communauté d'agriculteurs</strong> ayant accès à des <strong>avantages</strong> qui leur sont spécialement dédiés.",
      'link' : 'publi/le-club',
       'alt' : 'CLub by Agrico',
       'img' : 'https://www.agriconomie.com/media/pub/img/newhomepage/services5.jpg', 
      'btn' : "Voir le service",
      },      
 
   {'title': "Panachage Engrais",
   'txt': " Mélangez de <strong>2 à 4 engrais dans un même camion</strong> et réduisez vos coûts logistique.<br>&nbsp;<br>&nbsp;",
      'link' : 'engrais-panachage',
       'alt' : 'Pignon',
       'img' : 'https://www.agriconomie.com/media/pub/img/newhomepage/services1.jpg', 
      'btn' : "Voir le service", 
      },   

   {'title': "COUVERT",
   'txt': "CLub by Agrico<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;",
      'link' : 'panachage-cipan',
       'alt' : 'Pignon',
       'img' : 'https://www.agriconomie.com/media/cache/130x130/f9/75/e4469144daf1e3138c690981c416.jpg', 
      'btn' : "Voir le service",
      }
 

   ])


block footer__expert
  include ./mixins/footer__expert.pug 
  +footer__expert('margaux')


block sources 
  include ./mixins/sources.pug 
  +sources('agrico') 