block meta

doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office', xmlns:w='urn:schemas-microsoft-com:office:word')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Agriconomie, le site partenaire des agriculteurs français
    link(rel='stylesheet', href='css/style.css')
    style(type='text/css').
      @media only screen and (max-width: 480px) {
      .hideInMobile {
      display: none!important;
      }
      .ShowInMobile {
      display: block!important;
      }
      body {
      font-size: 16px !important;
      }
      .club__info {
      width: 100%;
      display: block;
      }
      .club__logo {
      width: 100%;
      display: block;
      }
      .club__title--orange {
      display: block!important;
      }
      .club__promo_description,
      .club__promo_img {
      display: block;
      width: 100%;
      float: none;
      }
      #bodyTable {
      width: 100%!important;
      }
      .avantages_content,
      .avantages_space {
      width: 70%!important;
      display: block;
      margin: 0 auto;
      }
      .tableReassurances__body {
      position: relative;
      }
      .tableReassurances__body td {
      float: left;
      width: 50%;
      display: block;
      }
      .tableReassurances__body td img {
      height: 50px!important;
      width: auto;
      text-align: left;
      display: inline-block;
      }
      .footer__wrapper {
      position: relative;
      width: 80%;
      }
      .footer__wrapper td {
      width: 100%;
      display: block;
      text-align: center;
      }
      .footer__wrapper img {
      margin: 0 auto;
      }
      .footer__rss {
      position: relative;
      margin-top: 20px;
      }
      .footer__rss td {
      float: left;
      width: 25%;
      display: block;
      }
      .footer__rss img {
      height: 40px!important;
      width: auto;
      }
      }
    != "<!--[if gte mso 10]>"
    style.
      table, p, span, div, table, tr, td, th, a { 
      mso-style-priority:99;  font-family:"Arial","sans-serif"; 
      }
    != "<![endif]-->" 
  
  body
    table#bodyTable(cellpadding='0', cellspacing='0', border='0', align='center')
      tbody
        tr
          td
            table.headerNL(cellpadding='0', cellspacing='0', width='100%', border='0', align='center')
              tbody
                tr
                  td.headerNL__blank
                tr
                  td.headerNL__phraseAccroche(align='center')
                    block phraseAccroche
                    
                tr
                  td.headerNL__linkOnline(align='center')
                    a(href='&&&', style='color:#999999;') Visualiser ce message en ligne
                tr
                  td.headerNL__blank
        tr
          td
            table.logo(cellpadding='0', cellspacing='0', width='100%', border='0', align='center')
              tbody
                tr
                  td.club__logo(width='75%')
                    table.logo__img(cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        tr
                          td
                            a(href='https://www.agriconomie.com/' + utm, target='_blank')
                              img.deviceWith(alt='Agriconomie, le site partenaire des agriculteurs français', src='https://www.agriconomie.com/media/pub/img/newsletter/header/header-club.jpg', align='center', border='0')
                  td.club__info(width='25%')
                    table.center(cellpadding='0', cellspacing='0', border='0', align='center')
                      tboody

                        tr
                          td.club__info--blank
                        block clubInfo  
        tr
          td
            table.tableContent(cellpadding='0', cellspacing='0', border='0', width='100%')
              tbody
                tr
                  td(align='center', width='95%')
                    table.tableContent__body(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td  
                        tr
                          td  
                        tr
                          td.club__title(align='center')
                            span.club__title--orange L'offre CLUB
                            |  de la semaine
                        tr
                          td  
                        //
                          <tr>
                          <td class="club__subtitle">
                          Profitez-en dès maintenant !
                          </td>
                          </tr>
                          <tr>
                          <td>&nbsp;</td>
                          </tr>
                        block promo
                        tr
                          td  
                        tr
                          td.avantages
                            table(border='0', cellspacing='0', cellpadding='0', align='center', width='95%')
                              tbody
                                tr
                                  td  
                                tr
                                  td.avantages_title(align='center')
                                    | Encore plus d'avantages
                                tr
                                  td  
                                tr
                                  td(width='100%')
                                    table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                      tbody
                                        tr
                                          td.avantages_content
                                            table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                              tbody
                                                tr
                                                  td.ShowInMobile  
                                                tr
                                                  td.avantages_content--title(align='center')
                                                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/carte.png', alt='carte CLUB')
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--txt(align='center') 5% de remise immédiate sur tous les produits au prix CLUB
                                          td.avantages_space.hideInMobile  
                                          td.avantages_space.hideInMobile  
                                          td.avantages_content
                                            table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                              tbody
                                                tr
                                                  td.ShowInMobile  
                                                tr
                                                  td.avantages_content--title(align='center')
                                                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/tirelire.png', alt='tirelire')
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--txt(align='center') 1€ cagnotté pour 100€ dépensés ou 1T d'engrais achetée
                                          td.avantages_space.hideInMobile  
                                          td.avantages_space.hideInMobile  
                                          td.avantages_content
                                            table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                              tbody
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--title(align='center')
                                                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/livraison.png', alt='livraison')
                                                tr
                                                  td  
                                                tr
                                                  td(align='center') Livraison gratuite sur les produits au prix CLUB
                                tr
                                  td.hideInMobile  
                                tr
                                  td(width='100%')
                                    table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                      tbody
                                        tr
                                          td.avantages_content
                                            table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                              tbody
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--title(align='center')
                                                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/phytos.png', alt='phytos')
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--txt(align='center') Produits phytosanitaires négociés au meilleur prix
                                          td.avantages_space.hideInMobile  
                                          td.avantages_space.hideInMobile  
                                          td.avantages_content.hideInMobile
                                            table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                              tbody
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--title(align='center')
                                                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/promos.png', alt='promos')
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--txt(align='center')
                                                    | Des surprises et offres promotionnelles toute l'année !
                                          td.avantages_space.hideInMobile  
                                          td.avantages_space.hideInMobile  
                                          td.avantages_content.hideInMobile
                                            table(border='0', cellspacing='0', cellpadding='0', align='center', width='100%')
                                              tbody
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--title(align='center')
                                                    img(src='https://www.agriconomie.com/media/pub/img/newsletter/icons/expert.png', alt='expert')
                                                tr
                                                  td  
                                                tr
                                                  td.avantages_content--txt(align='center') Un expert dédié pour répondre à vos besoins
                                tr
                                  td  
                                tr
                                  td(align='center')
                                    | *crédité une fois votre paiement validé
                                tr
                                  td
        tr
          td
            table.tableReassurances(cellpadding='0', cellspacing='0', border='0', width='100%')
              tbody
                tr
                  td(width='95%')
                    table.tableReassurances__body(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(align='center', valign='center', width='25%')
                            a(href='https://www.agriconomie.com/' + utm, target='_blank')
                              img.deviceWith(alt='Transparence', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/prix-transparent-responsive.jpg', width='130', height='41', border='0', style='display: block;')
                          td(align='center', valign='center', width='25%')
                            a(href='https://www.agriconomie.com/' + utm, target='_blank')
                              img.deviceWith(alt='Meilleur site', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/prix-fevad-responsive.jpg', width='130', height='41', border='0', style='display: block;')
                          td(align='center', valign='center', width='25%')
                            a(href='https://www.agriconomie.com/' + utm, target='_blank')
                              img.deviceWith(alt='Économies', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/argent-economise-responsive.jpg', width='130', height='41', border='0', style='display: block;')
                          td(align='center', valign='center', width='25%')
                            a(href='https://www.agriconomie.com/' + utm, target='_blank')
                              img.deviceWith(alt='Sécurité', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/paiement-securise-responsive.jpg', width='130', height='41', border='0', style='display: block;')
        tr
          td.footer__blank  
        tr
          td
            table.footer.footer--up(cellpadding='0', cellspacing='0', border='0', width='100%')
              tbody
                tr
                  td
                    table.footer__wrapper(align='center', cellspacing='0', border='0', width='95%')
                      tbody
                        tr
                          td(valign='top', width='47%', align='center')
                            table.footer__col(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(align='center')
                                    table.footer__rss(align='center', cellpadding='0', cellspacing='0', border='0', width='100%')
                                      tbody
                                        tr
                                          td(width='25%', align='center')
                                            a(style='text-decoration:none', href='https://twitter.com/agriconomie', target='_blank')
                                              img(height='30', width='30', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/twitter.png', alt='Twitter')
                                          td(width='25%', align='center')
                                            a(style='text-decoration:none', href='https://www.facebook.com/Agriconomie/', target='_blank')
                                              img(height='30', width='30', alt='Facebook', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/facebook.png')
                                          td(width='25%', align='center')
                                            a(style='text-decoration:none', href='https://fr.linkedin.com/company/agriconomie-france', target='_blank')
                                              img(height='30', width='30', alt='LinkedIn', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/linkedin.png')
                                          td(width='25%', align='center')
                                            a(style='text-decoration:none', href='https://www.youtube.com/channel/UCo0QMlZUcF-WBP3C9koTLJw', target='_blank')
                                              img(height='30', width='30', alt='Youtube', src='https://www.agriconomie.com/media/pub/img/newsletter/footer/youtube.png')
                                tr
                                  td   
                                tr
                                  td(align='center')
                                    table(align='center', cellpadding='0', cellspacing='0', border='0')
                                      tbody
                                        tr
                                          td(width='12.5%')  
                                          td(width='75%', align='center') Rejoignez notre communauté et suivez notre expertise
                                          td(width='12.5%')  
                          td(width='6%')
                          td(width='47%', align='left')
                            table.footer__col(width='100%', align='center', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(align='left')
                                    | Nos experts sont disponibles 
                                    span.link--orange 7j/7
                                    |  de 
                                    span.link--orange 8h à 20h
                                    br
                                    |  - Par téléphone : 
                                    span.link--orange 03 52 99 00 00
                                    br
                                    |  - Par mail sur 
                                    span.link--orange contact@agriconomie.com 
                                    br
                                    br
                                    |  Notre service après-vente est joignable
                                    br
                                    |  - Par téléphone : 
                                    span.link--orange 03 52 99 00 02
                tr
                  td  
        tr
          td.separator(height='1')
        tr
          td   
        tr
          td(style='font-family: Helvetica, Arial, sans-serif; font-size: 9px; line-height: 14px; color: rgb(153, 153, 153);', align='center')
            | Agriconomie.com - 11 route nationale 4, 51320 Coole
        tr
          td(style='font-family: Helvetica, Arial, sans-serif; font-size: 9px; line-height: 14px; color: rgb(153, 153, 153);', align='center')  RCS CHALONS-EN-CHAMPAGNE : B 799 365 176
        tr
          td(width='70%', style='font-family: Helvetica, Arial, sans-serif; font-size: 9px; line-height: 14px; color: rgb(153, 153, 153);', align='center')
            | Vous recevez cet email car vous êtes inscrit sur notre liste de diffusion. Suivez ce 
            a(href='&&&', target='_blank', style='color: rgb(153, 153, 153);') lien
            |  pour vous désinscrire de cette liste de diffusion. Conformément à la loi Informatique et Liberté du 6 janvier 1978, vous disposez d’un droit de suppression des données vous concernant.
        tr
          td(width='70%', style='font-family: Helvetica, Arial, sans-serif; font-size: 9px; line-height: 14px; color: rgb(153, 153, 153);', align='center')
            a(href='https://www.agriconomie.com/conditions-generales-utilisation' + utm, target='_blank', style='color: rgb(153, 153, 153);') CGU
            |  - 
            a(href='https://www.agriconomie.com/conditions-generales-vente' + utm, target='_blank', style='color: rgb(153, 153, 153);') CGV
            |  - 
            a(href='https://www.agriconomie.com/mentions-legales' + utm, target='_blank', style='color: rgb(153, 153, 153);') Mentions légales
