mixin quote(cite, author)
  tr
    td(width='100%' align="center")
      table.quote(align='center', width='100%')
        tbody
          tr 
            td.quote--line(width='40%')
              p  
            td.quote--txt(align='center', width='20%' style="font-size:40px;")!='"'
            td.quote--line(width='40%')
              p
  tr
    td(height="5" style="font-size:5px; line-height:5px;") &nbsp;
  tr
    td( align='center' width="100%"  )
      table( class="tableContent" cellpadding="0" cellspacing="0" border="0" width="100%"  )
        tbody
          tr 
            td(align="center" style="font-size:12px; line-height:12px;" )= cite

  tr
    td(height="5" style="font-size:5px; line-height:5px;") &nbsp;
  tr
    td(width='100%' align="center")
      table.quote(align='center', width='100%')
        tbody
          tr
            td.quote--line(width='30%')
              p  
            td.quote--txt(align='center', width='40%' style='font-size:14px;')= author
            td.quote--line(width='30%')
              p 
  tr
    td  &nbsp;