mixin elemStatMarche(title, description)
  tr
    td  &nbsp;
  tr
    td
      table.actu__stats(height='60', width='100%', cellpadding='0', cellspacing='0', border='0')
        tbody
          tr
            td.actu__stats-img(height='60', align='center', valign='middle', width='30%' style='color: black; font-weight:bold;')= description 
            td.actu__stats-description(bgcolor='#343a46', width='70%', align='center', valign='middle')
              span(style='color: #fff; display: block;')= title