mixin title--simple(txt)
  tr
    td(width='100%')
      table.title(align='center', width='100%')
        tbody
          tr
            td.title--txt(align='center', width='85%')!= txt
  tr
    td  &nbsp;