extends layout/layout.pug
 
block utm 
  - var meta =  Data.meta._utmActuFr;   
  - var type = 'elevage';     
  - var lang = 'fr';           
      
 
block style
  link(rel='stylesheet', href='css/style.css') 
  style.
    @media only screen and (max-width: 480px) {
    .logo__white,
    .products__between,
    .mobile--hide {
    display: none!important; 
    }
    #bodyTable {
    width: 100%;
    }
    .menu__links { 
    height: auto;
    }
    .menu__link {
    display: block;
    float: left;
    width: 25%;
    height: 35px!important;
    }
    .menu__link--a {
    display: block;
    font-size: 12px;
    line-height: 35px!important;
    height: 35px!important;
    }
    body {
    font-size: 16px !important;
    }
    .logo {
    display: none !important;
    }
    .logoM {
    display: block !important;
    width: 100%;
    }
    .actu__wrapper td {
    display: table;
    width: 100%;
    }
    .actu__stats-img {
    width: auto;
    vertical-align: middle;
    display: block;
    }
    .actu__stats-img img {
    margin: 15px 0; 
    display: inline-block;
    }
    .actu__stats-description {
    height: 50px;
    line-height: 25px;
    }
    .tableReassurances__body {
    position: relative;
    }
    .tableReassurances__body td {
    float: left;
    width: 50%;
    display: block;
    }
    .tableReassurances__body td img {
    height: 50px!important;
    width: auto;
    text-align: left;
    display: inline-block;
    }
    .footer__wrapper {
    position: relative;
    }
    .footer__wrapper td {
    width: 100%;
    display: block;
    text-align: center;
    }
    .footer__wrapper img {
    margin: 0 auto;
    }
    .footer__rss {
    position: relative;
    margin-top: 20px;
    }
    .footer__rss td {
    float: left;
    width: 25%;
    display: block;
    }
    .footer__rss img {
    height: 40px!important;
    width: auto;
    }
    .products__unit {
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .products__unit--big {
    float: none;
    display: block;
    width: 80%!important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; 
    }
    .products__unit--double {
    /*container margin-left-right: 1%*/
    width: 98%;
    display: block;
    }
    }
    * {
    font-family: Helvetica, Arial, sans-serif;
    }
    .footer__col td {
    font-size: 12px!important;
    }

block phraseAccroche
  | Nouvelle campagne disponible

block header
  include mixins/header.pug
  +header('bertrand')
 
 
block data
  include mixins/elemMarche.pug
  +elemMarche('Soja  :', "Le marché est tendu en ce début de semaine. Une légère baisse a eu lieu puisque les dynamiques haussières ont été trop brutales. La parité, le risque climatique ainsi que les arbitrages entre les huiles et les tourteaux apportent de l'instabilité sur les tendances de prix.")
  +elemMarche('Colza :', "Le colza est également dans une dynamique incertaine puisque le soja (en Argentine) n’affiche pas de dynamique et qu’il aura probablement une influence le prix du tourteau.")
  +elemMarche('Blé / Maïs :', "En céréales, la parité, les couvertures des fonds d’investissements et le weather market influencent le marché à la hausse. Il faudra attendre un peu avant de confirmer cette tendance haussière.")

block stat
  include mixins/elemStat.pug
  +elemStat('Tourteau de soja',
   'Incertain' ,
     'https://www.agriconomie.com/media/pub/img/newsletter/icons/attention.jpg',
        'nutrition/matiere-premieres-et-additifs/tourteaux/pc7313',
    'Incertain')
  +elemStat('Tourteau de colza',
    'Stable' , 

     'https://www.agriconomie.com/media/pub/img/newsletter/icons/stable.jpeg',
         'tourteau-colza/p255288',
     'Stable')
  +elemStat('Céréales',
   'Hausse' , 
   'https://www.agriconomie.com/media/pub/img/newsletter/icons/hausse.jpeg',
   'nutrition/matiere-premieres-et-additifs/co-produits-de-cereales/pc7325',
    'Hausse')

block preco

  //- tr
  //-   td.data__blank
  //- tr
  //-   td(align='center')
  //-     a.link__actu(href!="https://www.agriconomie.com/elevage/batiments/tapis---matelas/pc3455" + meta ) Profitez de notre offre
  //-     | sur les matelas et tapis en caoutchouc.
  //- tr
  //-   td.data__blank &nbsp;
  //- tr
  //-   td(align='center')
  //-     | Le marché est stable. Profitez en pour vous couvrir en profitant de notre 
  //-     a.link__actu(href!="https://www.agriconomie.com/nutrition/matiere-premieres-et-additifs/tourteaux/pc7313" + meta) remise sur 4 camions.
  //- tr
  //-   td.data__blank
  //- tr
  //-   td(align='center')
  //-     | L’offre sur les seaux à lécher est toujours d'actualité. 
  //-     a.link__actu(href!="https://www.agriconomie.com/nutrition/nutrition-bovins/seaux-et-blocs-a-lecher/pc7355" + meta) Venez en profiter dès maintenant.
  //- tr
  //-   td.data__blank
  //- tr
  //-   td.data_txt(align='left')
  //-     b.data_txt--title  Des animaux bien réhydratés
  //-     br
  //-     br
  //-     | En cette période estivale, les fortes chaleurs sollicitent les animaux qui sortent de leur zone de confort thermique. Pour rappel, celle de la vache est comprise entre -13°C et +27 °C.
  //-     br
  //-     br
  //-     |La consommation d’eau dans les bâtiments est rarement mesurée en production bovine et encore moins en pâturage. Et pourtant la vache laitière consomme environ 100 litres/ jour à raison de 3 litres d’eau par litre de lait produit. En cas de stress thermique, la consommation journalière augmente de 30 %.

  //-     br
  //-     br
  //-     |Le taux de MS de la ration est un facteur qui impact la consommation d’eau qui sera plus faible au pâturage par rapport à une ration hivernale.
  //-     br
  //-     br
  //-     | Le matériel doit être adapté : 1 bac de 200 Litres pour 20 VL.
  //-     a.link__actu(href!="https://www.agriconomie.com/bac-niveau-constant-biglac-90l-stabulation-tonne-a-eau/p187536" + meta) Prévoir des abreuvoirs de 70 L 
  //-     | minimum en sortie de traite (lieu privilégier de consommation d’eau) et 
  //-     a.link__actu(href!="https://www.agriconomie.com/abreuvoir-100-0120-298597/p298597" + meta) un bol 
  //-     | pour 7 VL
  //-     br
  //-     br
  //-     | Pour éviter la concurrence il faut au moins 3 points d’eau différents dans les bâtiments. La vache consomme 20 litres d’eau par minute il faudra donc prévoir un débit minimum de 
  //-     a.link__actu(href!="https://www.agriconomie.com/abreuvoir-a-soupage-130-0500-298609/p298609" + meta) 30 litres/mn
  //-     | pour un abreuvoir 2 postes.
  //-     br 
  //-     br
  //-     | Les abreuvoirs doivent être propre (nettoyage 1 fois/semaine).
  //-     br
  //-     br
  //-     | Au 
  //-     a.link__actu(href!="https://www.agriconomie.com/bac-a-eau-eco-1100-litres-280589/p280589" + meta) pâturage
  //-     | il faut prévoir une capacité de 1000 à 1500 Litres pour 100 VL.


  tr
     td  &nbsp;

block produits
  include parts/product__space.pug
  include mixins/produit_3.pug
  include mixins/produit_4.pug
  include mixins/title.pug 
  +produit__4([

  {'name': "Chlorure de potasse <br> Granulé <br> &nbsp;",
   'promo__title': "none",
    'promo__value': '-10€/T' ,
     'link' : 'chlorure-de-potasse/p6',
    'alt' : "Chlorure de potasse - Granulé",
     'img' : 'https://www.agriconomie.com/media/cache/130x130/28/d6/d75d736a07986d8ec1b7b1294b01.jpg',
     'btn' : 'Voir les prix'  },


  {'name': '9-23-0 + 25SO3 <br> Bulk compacté <br> &nbsp;',
   'promo__title': 'none',
    'promo__value': '-10%' ,
     'link' : '9-23-0-25so3/p340869'
     , 'alt' : '9-23-0 +25SO3 - Bulk compacté',
      'img' : 'https://www.agriconomie.com/media/cache/240x230//4f/5e/2f434099978c9dd4be25194dcd5e.jpeg', 
     'btn' : 'Voir les prix'  },


  {'name': "ATS Liquide <br> (13N -64SO3) <br> &nbsp;",
   'promo__title': 'none', 
    'promo__value': '-25%' ,
    'link' : 'soufre-thiosulfate-d-ammonium/p265452',
     'alt' : "Soufre - thiosulfate d'ammonium (13N -64SO3) - Liquide",
      'img' : 'https://www.agriconomie.com/media/cache/130x130/f1/11/e4a46a620ba41aa8711848c66f24.jpg',
     'btn' : 'Voir les prix'  },

       {'name': "Cuivre Fertigo Pro <br> Liquide <br> &nbsp;",
   'promo__title': "Jusuq'à",
    'promo__value': '-16%' ,
    'link' : 'cuivre-fertigo-pro/p282777',
     'alt' : "Cuivre Fertigo Pro - Liquide",
      'img' : 'https://www.agriconomie.com/media/cache/130x130/83/15/2893be81e0e03d58fcc6d483d31e.jpeg',
     'btn' : 'Voir les prix'  }
  ])

  +title("Nos produits du moment")
 
  //- include parts/product__space.pug
  //- +produit__4([
  //- {'name': 'Patentkali® <br> Granulé <br> &nbsp;',
  //-  'promo__title': "none",
  //-   'promo__value': '-2€/T' ,
  //-    'link' : 'patentkali-r/p229398',
  //-     'alt' : 'Patentkali® - Granulé',
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130//13/a1/c65230178ae1a4796ce59d40f1a1.jpeg', 
  //-    'btn' : 'Voir les prix'  },
 
  //- {'name': "Chaux vive 95% <br> Criblé <br> &nbsp;",
  //-  'promo__title': "none",
  //-   'promo__value': '-10%' ,
  //-    'link' : 'chaux-vive-95/p226448',
  //-   'alt' : "Chaux vive 95% - Criblé",
  //-    'img' : 'https://www.agriconomie.com/media/cache/240x230//05/ce/618d3f68e4bd1c7174e45d5e0f2f.jpeg',
  //-    'btn' : 'Voir les prix'  },

  //- {'name': "Panachez votre<br> camion d'engrais <br> &nbsp;",
  //-  'promo__title': "none",
  //-   'promo__value': '-5€' ,
  //-   'link' : 'engrais-panachage' ,
  //-    'alt' : "Panachez votre camion d'engrais",
  //-     'img' : 'https://www.agriconomie.com/media/pub/img/newsletter/products/panachage-camion.jpg',
  //-    'btn' : 'Je panache'  }, 

  //-      {'name': "Compost (fientes / lisier) <br> 2-2-2 - Pulvérulent <br> &nbsp;",
  //-  'promo__title': 'none',
  //-   'promo__value': '-25%' ,
  //-   'link' : '2-2-2/p251717',
  //-    'alt' : "Compost (fientes / lisier) 2-2-2 - Pulvérulent",
  //-     'img' : 'https://www.agriconomie.com/media/cache/130x130/cd/2a/3e1bb9cf86fa7e68ad20361afdf6.jpeg',
  //-    'btn' : 'Voir les prix'  }
  //- ])



block footer
  include mixins/footer__expert.pug
  +footer__expert('bertrand')